<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Traffic Simulation Analysis
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-binoculars text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">Traffic Simulation Analysis 1</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div id="chartdivTsa" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">Traffic Simulation Analysis 2</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div id="chartdivTsa2" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 mb-0">Simulation 1</h5>
        </div>
        <img
          width="100%"
          height="400px"
          src="assets/img/google/simulation.png"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 mb-0">Simulation 2</h5>
        </div>
        <img
          width="100%"
          height="400px"
          src="assets/img/google/simulation1.PNG"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 mb-0">Simulation 3</h5>
        </div>
        <img
          width="100%"
          height="400px"
          src="assets/img/google/simulation2.jpg"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 mb-0">Simulation 4</h5>
        </div>
        <img
          width="100%"
          height="400px"
          src="assets/img/google/simulation3.jpg"
        />
      </div>
    </div>
  </div>
</div>
