<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <!-- <div class="col-lg-6 col-5 text-right">
          <a class="btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

          <a class="btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a>
        </div> -->
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Total Traffic
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 50 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Total Post
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 32 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Total Mentions
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 5 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Total Reply
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 2 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-5">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
              <h5 class="h3 mb-0">Dashboard</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivdashboard4"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-7">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>

              <h5 class="h3 mb-0">Dashboard</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivdashboard"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-5">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
              <h5 class="h3 mb-0">Dashboard</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivdashboard2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-7">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>

              <h5 class="h3 mb-0">Dashboard</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivdashboard3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
