<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Road Congestion Map
          </h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file text-dark"></i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
              href="javascript:void(0)"
              class="btn btn-sm btn-default"
              (click)="openModal(addModal, undefined)"
            >
              Add Delivery Service
            </a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-header">Chart 1</div>
        <div class="card-body">
          <div class="chart">
            <div id="chartdivRcm" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">Chart 2</div>
        <div class="card-body">
          <div class="chart">
            <div id="chartdivRcm2" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Search</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">State</label>
                <select class="form-control" placeholder="Enter Name">
                  <option Checked>Selangor</option>
                  <option>Melaka</option>
                  <option>Kuala Lumpur</option>
                  <option>Kuala Terengganu</option>
                  <option>Pahang</option>
                  <option>Johor</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">City</label>
                <select
                  class="form-control"
                  placeholder="Enter Name"
                  type="text"
                >
                  <option checked>Subang Jaya</option>
                  <option>Petaling Jaya</option>
                  <option>Damansara</option>
                  <option>Gombak</option>
                  <option>Cheras</option>
                  <option>Semenyih</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Date</label>
                <input
                  class="form-control"
                  placeholder="Enter Name"
                  type="datetime-local"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button
            class="btn btn-primary"
            (click)="successAlert('search Forecast')"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col">Map</div>
            <div class="col text-right">
              <button
                class="btn btn-default btn-sm"
                (click)="successAlert('print report')"
              >
                Print
              </button>
            </div>
          </div>
        </div>
        <div
          style="height: 400px;"
          leaflet
          [leafletOptions]="options"
          [leafletLayers]="layers"
        ></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 mb-0">Pin Place</h5>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/google/pin.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> Place 1 </a>
                  </h4>

                  <span class="text-success"> ● </span>

                  <small> Heavy Congestion </small>
                </div>

                <!-- <div class="col-auto">
                    <button class="btn btn-sm btn-primary" type="button">
                      Add
                    </button>
                  </div> -->
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/google/pin2.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    Place 2
                    <a href="javascript:void(0)"> </a>
                  </h4>

                  <span class="text-warning"> ● </span>

                  <small>Moderate Congestion </small>
                </div>

                <!-- <div class="col-auto">
                    <button class="btn btn-sm btn-primary" type="button">
                      Add
                    </button>
                  </div> -->
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/google/pin3.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> Place 3 </a>
                  </h4>

                  <span class="text-danger"> ● </span>

                  <small> Light Congestion </small>
                </div>

                <!-- <div class="col-auto">
                    <button class="btn btn-sm btn-primary" type="button">
                      Add
                    </button>
                  </div> -->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-secondary">
            <h3 class="m-0">Bill Delivery</h3>
          </div>
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="-1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
               
              </div>
            </div>
  
            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="tableEntries != -1 ? tableEntries : undefined"
              [rows]="listPenguatkuasa"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column name="No">
                <ng-template
                  let-rowIndex="rowIndex"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <strong>{{ rowIndex + 1 }}</strong>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Delivery Service</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.type }}
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Created</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.created_at | date: "dd/MM/yyyy" }}
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Acrion</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a (click)="openModal(editModal, row)" style="cursor: pointer;">
                    <i class="fas fa-edit fa-2x text-default"></i></a
                  >&nbsp;&nbsp;&nbsp;
                  <a (click)="confirm()" style="cursor: pointer;">
                    <i class="fas fa-trash-alt fa-2x text-default"></i
                  ></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div> -->
</div>
